<app-home-hero
  [data]="heroData()"
  [videoSrc]="heroVideoSrc()"
  [videoPoster]="heroVideoPoster()"
/>
<app-home-trust [data]="home().trust"></app-home-trust>
<app-home-methodology [data]="home().methodology" />
<app-home-collaboration [data]="home().collaboration" />
<app-home-services [data]="home().services" />
<app-home-case-studies [data]="home().caseStudies" />
<app-home-academy [data]="home().academy" />
<app-tech-stack />
<app-home-testimonials
  [header]="home().testimonials.header"
  [testimonials]="home().testimonials.items"
/>
<app-home-insights [data]="home().insights" />
<app-home-global-presence [data]="home().globalPresence" />
<app-home-closing-ctas [data]="home().closingCtas" />


<!-- <app-home-differentiators [data]="home().differentiators"></app-home-differentiators> -->